@charset "UTF-8";

/* ========BASIC======== */
html {
    overflow-y:scroll;
}

body {
	margin-left:20%;
	margin-right:20%;
	padding:0;
    line-height:1.6;
    letter-spacing:1px;
    font-family:"Hiragino Kaku Gothic Pro",HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3","メイリオ", Meiryo,"ＭＳ Ｐゴシック",verdana,sans-serif;
    font-size:12px;
    color:#000;
    background:#efefef;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.80, #fff), color-stop(0.00, #efefef));
    background:-webkit-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-moz-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-o-linear-gradient(top, #efefef 0%, #fff 80%);
    background:-ms-linear-gradient(top, #efefef 0%, #fff 80%);
    background:linear-gradient(to bottom, #efefef 0%, #fff 80%);
    word-wrap: break-word;
}

.mainMessage {
	position: relative;
	background: #bdbdbd;
	border: 1px solid #555873;
	border-radius:10px;
	padding:10px;
	width:300px;
}
.mainMessage:after, .mainMessage:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mainMessage:after {
	border-color: rgba(189, 189, 189, 0);
	border-right-color: #bdbdbd;
	border-width: 20px;
	margin-top: -20px;
}
.mainMessage:before {
	border-color: rgba(9, 152, 213, 0);
	border-right-color: #555873;
	border-width: 21px;
	margin-top: -21px;
}

.comments {
	position: relative;
	background: #79b0d5;
	border: 1px solid #555873;
	border-radius:10px;
	padding:10px;
	width:300px;
	margin-left:50px;
}
.comments:after, .comments:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.comments:after {
	border-color: rgba(121, 176, 213, 0);
	border-left-color: #79b0d5;
	border-width: 20px;
	margin-top: -20px;

}
.comments:before {
	border-color: rgba(85, 88, 115, 0);
	border-left-color: #555873;
	border-width: 21px;
	margin-top: -21px;

}

.comments-form{
	margin-left:50px;
}
.comments-form-end {
	margin-left:250px;
}

.errorMessages {
	color:red;
}

br {
    letter-spacing:normal;
}

a {
    color:#134D99;
    text-decoration:none;
}

p {
    margin:10px;
}

table {
    font-size:12px;
}

table {
    width:600px;
    margin:10px;
    border-collapse:collapse;
    border:1px solid #999;
    border-spacing:0;
    line-height:1.8;
}

table th {
    padding:5px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    background:#EFEBEF;
    font-weight:bold;
    text-align:middle;
}

table td {
    padding:5px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    text-align:middle;
}
